.app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
body {
    background-color: #212121;
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}
img {
    vertical-align: middle;
}

.detail-name {
    font-size: 1.7rem;
    margin-right: 10px;
    color: #eacc2e;
}

.detail-name:after {
    content: ":";
    margin-left: 3px;
}

.list-wrapper {
    display: flex;
    width: 100%;
    text-align: center;
}
