.header-links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 30px;
    font-family: "Mukta";
    align-items: center;
}

.header-links li:not(:last-child) {
    margin-right: 30px;
}

.header-links li a {
    color: #e0e0e0;
    text-decoration: none;
    background-color: transparent;
    padding: 5px 15px;
    border-radius: 5px;
    transition: 0.4s;
}
.header-links li a:hover {
    background-color: #ffd54f;
    color: #212121;
}

.header-links .page-title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 35px;
    letter-spacing: 3px;
}
.header-links .page-title a {
    color: #ffca28;
    transition: 0.4s;
}
.header-links .page-title a:hover {
    color: #ff6f00;
    background-color: transparent;
}

@media (max-width: 800px) {
    .header-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .header-links .page-title {
        width: 100%;
        margin: 0 0 30px 0 !important;
        text-align: center;
    }
    .header-links .page-title a {
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 500px) {
    .header-links {
        justify-content: space-between;
    }
    .header-links li {
        margin: 0 !important;
    }
}

@media (max-width: 400px) {
    .header-links li {
        font-size: 12px;
    }
}
