.one-page-info {
    width: 45%;
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #424242;
    border-radius: 10px;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 15px;
}

.one-page-info .random-planet {
    width: 100%;
}

.item-details {
    width: calc(100% - 210px);
    padding: 0;
    margin: 0;
    list-style: none;
}

.item-name {
    font-size: 40px;
    color: #e0e0e0;
}

.no-items-selected {
    background-color: #424242;
    border-radius: 10px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    max-height: 200px;
    text-align: center;
    font-family: "Mutka";
    font-size: 30px;
    color: #e0e0e0;
}
